<!DOCTYPE html>
<html>
<head>
  <title>ConcertoWeather</title>
  <%= stylesheet_link_tag    "concerto_weather/application", :media => "all" %>
  <%= javascript_include_tag "concerto_weather/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
